<div class="left">
	<div>
		<img src="assets/images/placeholder_user.jpg" width="40" height="40" alt="" class="nav-profile">
		<a href="" class="home-left-txt">John Doe</a>
	</div>
	<div class="mt-2">
		<a href="">
			<span class="icon"><fa-icon [icon]="faUsers"></fa-icon></span>
			<span class="home-left-txt">Friends</span>
		</a>
	</div>
	<div class="mt-2">
		<a href="">
			<span class="icon"><fa-icon [icon]="faClockRotateLeft"></fa-icon></span>
			<span class="home-left-txt">Feed (Most Recent)</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>groups</mat-icon>
			<span class="home-left-txt">Groups</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>maps_home_work</mat-icon>
			<span class="home-left-txt">Market Place</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>watch_later</mat-icon>
			<span class="home-left-txt">Watch</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>autorenew</mat-icon>
			<span class="home-left-txt">Memories</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>bookmark_add</mat-icon>
			<span class="home-left-txt">Saved</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>bookmark</mat-icon>
			<span class="home-left-txt">Pages</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>expand_more</mat-icon>
			<span class="home-left-txt">See More</span>
		</a>
	</div>
</div>
