<div class="left">
	<div>

		<a href="">John Doe</a>
	</div>
	<div>
		<a href="">
			<span class="icon"><mat-icon>people</mat-icon></span>
			<span>Friends</span>
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>watch_later</mat-icon>
			Feed (Most Recent)
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>groups</mat-icon>
			Groups
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>maps_home_work</mat-icon>
			Market Place
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>watch_later</mat-icon>
			Watch
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>autorenew</mat-icon>
			Memories</a>
	</div>
	<div>
		<a href="">
			<mat-icon>bookmark_add</mat-icon>
			Saved
		</a>
	</div>
	<div>
		<a href="">
			<mat-icon>bookmark</mat-icon>
			Pages</a>
	</div>
	<div>
		<a href="">
			<mat-icon>expand_more</mat-icon>
			See More
		</a>
	</div>
</div>
