<nav class="navbar1">
	<div class="d-flex first-row">
		<div style="width: 30%">
			<div class="row">
				<div class="col-1">
					<a class="navbar-brand" routerLink="/">
						<img src="assets/logo/Facebook-Logo-Square-768x768-1.png" width="30" height="30" alt="">
					</a>
				</div>

				<div class="col-5">
					<input class="form-control form-control-sm mr-sm-2 search_main " placeholder="Search Facebook">
				</div>
			</div>
		</div>

		<div style="width: 40%">
			<div class="row">
				<div class="col text-center icon"><fa-icon [icon]="faHome"></fa-icon></div>
				<div class="col text-center"><mat-icon>subscriptions</mat-icon></div>
				<div class="col text-center"><mat-icon>maps_home_work</mat-icon></div>
				<div class="col text-center"><mat-icon>groups</mat-icon></div>
				<div class="col text-center"><mat-icon>watch_later</mat-icon></div>
			</div>
		</div>

		<div style="width: 30%">
			<div class="d-flex flex-row-reverse apps">
				<div class="col-4">
					<div class="row">
						<div class="col"><mat-icon size="20">apps</mat-icon></div>
						<div class="col"><mat-icon size="20">message</mat-icon></div>
						<div class="col">
							<img src="assets/images/placeholder_user.jpg" width="40" height="40" alt="" class="nav-profile">
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>


</nav>
