<div class="stories_reels">
	<div class="d-flex">
		<div class="text-center mt-3 a-stories">
			<span class="icon active-txt"><fa-icon [icon]="faBook"></fa-icon></span>
			<span class="active-txt">Stories</span>
		</div>

		<div class="text-center mt-3 a-reels">
			<span class="icon "><fa-icon [icon]="faReels"></fa-icon></span>
			<span >Reels</span>
		</div>
	</div>

	<hr class="break-line">

	<div class="row stories mt-2">
		<div class="col-3 story">
			<div>
				<img src="assets/images/placeholder_user.jpg" class="story_img" alt="null">
				<span class="story_name">John <br>Doe</span>
			</div>
		</div>
	</div>
</div>
